
.views-field-title {
    margin: 1em 0 0.15em 0;
    font-size: 1.15em;
    font-weight: bold;
   /* min-height: 3em; */
}

.views-field-title A {
    display: block;	
    text-decoration: none; 
    color: #000000; 
    font-size: 1.35em;
    min-height: 3em;
    vertical-align: bottom;
}

.views-field-field-artists A {
    text-decoration: none;
    color: #000000;
    font-size: 1.25em;
}

.views-field-field-artists A:hover {
    font-weight: bold;
    color: #000000;
}

.views-col {
    width: 30% !important;
}

.col-1 { margin-right: 1.5%; }
.col-2 { margin-left: 1.5%; margin-right: 1.5%; }
.col-3 { margin-left: 1.5%; }

.odd { background:#cccccc !important; }
.even { background: #dddddd !important; }

AUDIO { width: 100%; }

.playingAudio {
    background: #777777 !important;
    color: #fff !important;
}

#artist_playlist THEAD { font-size: 1.5em; font-weight: bold; }
#artist-playlist-toggle { color: #000000;  font-weight: bold; font-size: 1.25em; text-decoration: none; }

@media only screen and (max-width: 871px) { 

    .views-col { width: 100% !important; }
    .views-field-field-cover-art IMG { width: 97%; }
}
