.rfn-album-tile {

    float: left;
    margin: 2% 2% 2% 2%;
    font-size: 1.5em;
    font-weight: 450;
    max-width: 350px;
}

.rfn-album-title {
    max-width: 350px;
}

.rfn-cover-art {

    width: 350px;
    height: 350px;
}

.rfn-album-view-horizontal-spacer {
    clear: both;
}
