{{ attach_library('rfn_collections/playlist') }}

<div class="playlist-header">
{% trans %}
    There are {{ track_count }} tracks available for streaming by artist <em>{{ artist_name }}</em>.
{% endtrans %}
</div>

{{ playlist|raw }}


