<h2>{{ 'Here are all the recordings available for'|t }} {{ artistName }}:</h2>

{{ attach_library('rfn_artists/rfn_artist') }}
{{ attach_library('rfn_artists/rfn_artist_albums') }}

{% if albums|length %}
    {% for album in albums %}
        <div class="rfn-album-tile">
<a href="{{ album.link }}" title="{{ album.title }}">
            <img class="rfn-cover-art" src="{{ album.cover_art|image_style('medium') }}" />
            <div class="rfn-albu   m-tile-title">
                {{ album.title }}
            </div>
</a>
        </div>
    {% endfor %}
{% endif %}

<div class="rfn-album-view-horizontal-spacer">&nbsp;</div>


<br/>
(playlists go here if there are any)

