{{ attach_library('rfn_artists/rfn_artist') }}

{# biography (the body tag) #}
{% if node.body.0.value != '' %}
<h3>{{ 'Biography'|trans }}:</h3>
    <div class="rfn-artist-biography">
    {{ node.body.0.value|raw }}
    </div>
{% endif %}

{# artist images #}
{% if node.field_images|length %}
  <h2>{% trans %} Images related to {{ node.label }}{% endtrans %}</h2>
    {% for image in node.field_images %}
    <a href="{{ image.entity.fileuri|image_style('wide') }}" target="_blank" title="{{ node.label|escape }}"><img src="{{ image.entity.fileuri|image_style('thumbnail') }}" ></a>
    {% endfor %}
{% endif %}

{# stream everything by this artist #}
<div class="artist-playlist">
    {{ generate_playlist_html(tracks, node)|raw }}
</div>

Got tracks  *{{ tracks|length }}*?
{% for track in tracks %}
    SEE TRACK {{ track.title }}<br/>

{% endfor %}

(sharing butttons go here)



